
		<div class="footer">

			<p>
				Built with <a href="http://pi-squared.co.za/"><span class="sh sh-heart"></span> by pi-squared</a> using
				<a href="http://openshift.com/"><span class="sh sh-refresh"></span> OpenShift</a> and
				<a href="http://nodejs.org"><span class="sh sh-connectdevelop"></span> NodeJS</a> and
				<a href="http://mongodb.org/"><span class="sh sh-leaf"></span> MongoDB</a> and
				<a href="http://cloudflare.com/"><span class="sh sh-cloud"></span> CloudFlare</a> and
				<a href="http://instagram.com/"><span class="sh sh-in5tagr4m"></span> Instagram</a> and
				<a href="http://google.com/maps/"><span class="sh sh-map-marker"></span> Google Maps</a> and
				<a href="http://purecss.io/"><span class="sh sh-yahoo"></span> PureCSS</a> and
				<a href="http://fortawesome.com/"><span class="sh sh-fort-awesome"></span> FortAwesome</a>
			</p>

			<p>
				<a href="#top"><span class="sh sh-arrow-circle-up"></span> Top</a>
				<a href="/"><span class="sh sh-home"></span> Home</a>
				<a href="/privacy/"><span class="sh sh-eye-slash"></span> Privacy Policy</a>
			</p>

		</div>

		<a href="/" class="home"><span class="sh sh-star-o"></span><span class="sh sh-star"></span><span class="sh sh-home"></span></a>
