<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Pocket Badge</title>

</head>
<body>
	<a href="https://getpocket.com/auth/authorize?request_token=<%= code %>&redirect_uri=http://ratesh.it/pocket/badge">Authorize with Pocket</a>
	
</body>
</html>